.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 300px;
}

.banner-background {
  height: 700px;
  width: 100vw;
}

.banner-heading {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: black;
  margin-bottom: 20%;
  margin-left: 10%;
  font-size: 50px;
}

.featured-drink-box {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 400px;
  background-color: White;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 5em;
  margin-right: 3em;
  border-radius: 5px;
}

.featured-drink-container {
  position: relative;
}

.featured-drink-text-one {
  font-size: 20px;
  margin-bottom: 2px;
}

.featured-drink-text-two {
  font-size: 17px;
  margin-top: 2px;
  color: grey;
}

.featured-drink-image{
  height: 70%;
  width: auto;
  box-shadow: -1px 0px 21px 1px rgba(0,0,0,0.75);
  background-image: url(../../assets/featured-drink.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-heading-text-one {
  margin-bottom: 10px;
}

.banner-heading-text-two {
  margin: 0;
}

.find-your-favor-heading {
  font-size: 50px;
  margin-bottom: 0%;
}

.letter-sec {
  padding: 10px;
}

.letter-button {
  background-color: white;
  padding: 5px;
  border: none;
  font-size: 20px;
  color: gray;
  font: inherit
}

.letter-button:hover {
  cursor: pointer;
}

.search-input,
.search-button {
  font: inherit;
  padding: 0 10 0 10;
  border-radius: 10px;
  height: 30px;
  border: none;
  background-color: rgb(235, 235, 235);
  margin: 5px;
}

.search-button {
  margin-right: 5px;
}

.arrow-popup {
  height: 70px;
  width: 70px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/130/130906.png);
}

#global {
  background: none !important;
}

.arrow {
  height: 25px;
  padding-right: 5px;
}

.close-open-sec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border-bottom: solid 1px black; */
}
