.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: end;
  justify-self: end;
  align-items: center;
  margin-top: -200px;
  background-color: rgb(231, 245, 253);
  height: 200px;
  width: 100%;
  flex-shrink: 0;;
  position: relative;
  bottom: 0;
}