@import url('https://fonts.googleapis.com/css?family=Cinzel');

body {
  margin: 0;
  font-family: Cinzel;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
